#searchArea{
    text-align: center;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
grid-row-gap: 50px;
grid-column-gap: 190px;
text-align: center;
}

.newDiv{
    box-shadow: 5px 10px 20px #6fa05c;
    border: 3px solid red;
    height: 400px;
    
}
.newDiv img{
    width: 300px;
}